body {
	width: 700px;
	height: 1000px;
	
	padding: 20px;
	border-radius: 20px;
	background-color: rgb(87, 79, 79);
	
}
.head {
	font-size: 30px;
	margin-left: 160px;
	text-shadow: rgb(184, 176, 176) 1px 0 10px;
}
.info {
	color: rgb(233, 233, 233);
	font-size: 20px;
}
.text {
	list-style-type: none;
	font-size: 14px;
}
li {
	margin: 6px;
}
.peuple {
	font-size: 18px;
	color: rgb(128, 9, 9);
}
.head{
	margin-top: auto;
	margin-left: 35%;
	font-size: 40px;

}
